#header {
  background: linear-gradient(to right, #13a153 0%, #5b88d6 100%);
  border: 0.125rem solid #225a07;
  border-radius: 6.25rem; /* Isso arredonda os cantos da borda */
}

#header2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 0.125rem;
  border-radius: 6.25rem; /* Isso arredonda os cantos da borda */
  width: 8.125rem; /* Largura reduzida */
  height: 0.938rem; /* Altura reduzida */
  padding: 0; /* Preenchimento interno reduzido */
  margin: auto;
  transition: background-color 0.3s ease;
}

#header2:hover {
background-color: #ffffff;
}

.pokemon-container {
margin: 3.125rem; /* Ajuste o valor conforme necessário */
}

#header3 {
background: #8c9291;
border: 0.125rem solid #000000;
border-radius: 6.25rem; /* Isso arredonda os cantos da borda */
transition: background-color 0.3s ease;
}

#header3:hover {
background-color: rgb(190, 190, 190);
}

#header4 {
background-color: #9aaaa1; /* Cor de fundo como fallback */
border: 0.125rem solid #000000;
border-radius: 6.25rem; /* Isso arredonda os cantos da borda */
background-size: cover; /* Garante que a imagem cubra todo o espaço disponível */
background-position: center; /* Centraliza a imagem no elemento */
}

#meuBotao, #meuBotao2 {
border: none; /* Remove a borda */
background-color: transparent; /* Torna o fundo transparente */
padding: 0.625rem 1.25rem; /* Adiciona um pouco de espaço interno para tornar o botão mais fácil de clicar */
cursor: pointer; /* Muda o cursor para indicar que é clicável */
transition: background-color 0.3s ease, filter 0.3s ease; /* Adiciona uma transição suave */
}

#meuBotao:hover, #meuBotao2:hover {
background-color: rgba(0, 0, 0, 0.1); /* Torna o botão mais escuro quando o cursor está em cima */
}

#meuBotao2:hover {
filter: invert(20%);
}

.beautifulInput, select.beautifulInput {
  padding: 0.625rem 0.938rem;
  border: 0.063rem solid #ccc;
  border-radius: 3.438rem;
  margin: 0.625rem 0;
  width: calc(100% - 37.5rem); /* Ajusta a largura considerando o padding */
  box-sizing: border-box;
}

@media (max-width: 48em) {
.beautifulInput, select.beautifulInput {
  font-size: 0.875rem; 
  padding: 0.5rem; 
}
}

.beautifulInput.error, select.beautifulInput.error {
border-color: #ff0000;
}

.beautifulInput::placeholder {
color: #a9a9a9;
}

.container {
background: linear-gradient(to right, #38b3d1 0%, #4b80dd 100%);
color: white;
padding: 3.125rem 1.25rem;
border-radius: 0.625rem;
box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

h3, p {
font-family: 'Arial', sans-serif;
}

h3 {
color: #d3dadf;
font-size: 1.5rem;
text-shadow: 0.125rem 0.125rem 0.25rem #2c3e50;
margin-bottom: 0.625rem;
padding-bottom: 0.313rem;
text-transform: uppercase;
}

p {
color: #3498db;
font-size: 1.5rem;
text-shadow: 0.125rem 0.125rem 0.25rem #2c3e50;
margin-bottom: 0.625rem;
padding-bottom: 0.313rem;
text-transform: uppercase;
}

@media (min-width: 37.5em) {
.container {
  padding: 2.5rem;
}
}


