:root {
  --scrollbar-thin: thin !important;
  --scrollbar-color-main: #28e7d7 #92dbd9 !important;
  --border-radius-large: 100px;
  --transition-bg-color: background-color 0.3s ease;
}

/* Estilos comuns para headers */
.header-common {
  border-radius: var(--border-radius-large);
  scrollbar-width: var(--scrollbar-thin);
  scrollbar-color: var(--scrollbar-color-main);
  border: 2px solid #225a07; /* Este valor pode ser ajustado individualmente se necessário */
  transition: var(--transition-bg-color);
}

#header {
  background: linear-gradient(to right, #13a153 0%, #5b88d6 100%);
}

.tooltip {
  visibility: visible;
  width: 120px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 2;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

#header2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 130px;
  height: 15px;
  margin: auto;
  padding: 20px;
}

.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  min-width: 300px;
  margin: 40px;
  padding: 10px;
}

/* Aplicando estilos específicos com a classe comum */
#header, #header2, #header3, #header4 {
  border: 0px solid; /* A cor da borda pode ser ajustada individualmente */
}

#header3, #header4 {
  background-color: #8c9291; /* Cor padrão, ajustável individualmente */
}

#header3:hover {
  background-color: rgb(190, 190, 190);
}

#header4 {
  background-color: #9aaaa1;
  background-size: cover;
  background-position: center;
}

/* Estilos para a barra de rolagem personalizada no WebKit */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #a7d5d8;
}

::-webkit-scrollbar-thumb {
  background: #76c1b4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5da396;
}





@keyframes slideDown {
  from {
    transform: translateY(-100vh); /* Começa fora da tela, acima do topo */
  }
  to {
    transform: translateY(0); /* Termina na posição original */
  }
}

.meuBotaoAnimado {
  animation: slideDown 0.5s ease-out; /* Aplica a animação com duração de 0.5 segundos */
}

#meuBotaoT {
  border: none; /* Remove a borda */
  background-color: transparent; /* Torna o fundo transparente */

  padding: 0px 0px; /* Aumenta o espaço interno para melhorar a estética e a facilidade de clique */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  transition: background-color 0.3s ease, filter 0.3s ease, transform 0.3s ease; /* Adiciona transições suaves para background-color, filtro e transformação */
  font-size: 16px; /* Define um tamanho de fonte ideal */
  font-weight: bold; /* Torna o texto do botão em negrito */
  color: #007BFF; /* Define a cor do texto do botão */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25); /* Adiciona uma sombra sutil ao texto para melhorar a legibilidade */
  outline: none; /* Remove o contorno que aparece ao focar em alguns navegadores */
}

#meuBotaoT:hover, #meuBotao:focus .tooltip  {
  filter: brightness(120%); /* Aumenta o brilho ao passar o mouse para destacar o botão */
  filter: invert(100%);
  visibility: visible;
}

#meuBotaoT:active {
  transform: scale(0.95); /* Diminui ligeiramente o tamanho do botão quando clicado, simulando um efeito de pressão */
  background-color: rgba(0, 123, 255, 0.2); /* Escurece o fundo para dar um feedback de ação */
}
#meuBotaoT span {
  font-size: 11px; /* Exemplo: tamanho do texto */
}



  .container1 {
    background: linear-gradient(to right, #38b3d1 0%, #4b80dd 100%);
    color: white;
    padding: 10px 20px; /* Ajustado para uma altura menor */
    border-radius: 0px; /* Removido para a barra superior */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    scrollbar-width: thin !important;
    scrollbar-color: #28e7d7 #92dbd9 !important;
    width: 100%; /* Ajustado para ocupar toda a largura da tela */
    height: 60px; /* Altura fixa para a barra superior */
    display: flex; /* Usa flexbox para alinhar os itens */
   
    align-items: center; /* Centraliza os itens verticalmente */
  }




  .container {
    background: linear-gradient(to right, #38b3d1 0%, #4b80dd 100%);
    color: white;
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    scrollbar-width: thin !important;
    scrollbar-color: #28e7d7 #92dbd9 !important;
    /* Novos estilos */
    max-width: 70%; /* ou uma largura específica */
    max-height: auto; /* limita a altura */
    margin: auto; /* útil para centralização em alguns casos */
  }
  h3, p {
    font-family: 'Arial', sans-serif; /* Define a fonte para Arial */
  }
  
  h3 {
    color: #d3dadf; /* Cor do texto do título */
    font-size: 24px; /* Tamanho da fonte do título */
    text-shadow: 2px 2px 4px #2c3e50; /* Sombra do texto do título */
    margin-bottom: 10px; /* Espaçamento abaixo do título */
 
    padding-bottom: 5px; 
    text-transform: uppercase; 
    scrollbar-width: thin !important;
    scrollbar-color: #28e7d7 #92dbd9 !important; /* Cores ajustadas para verde claro e azul claro */
  }
  
  p {
    color: #3498db; 
    font-size: 24px; 
    text-shadow: 2px 2px 4px #2c3e50; 
    margin-bottom: 10px; 
  
    padding-bottom: 5px; 
    text-transform: uppercase; 
    scrollbar-width: thin !important;
    scrollbar-color: #28e7d7 #92dbd9 !important; /* Cores ajustadas para verde claro e azul claro */
  }
 
  @keyframes rainbow-text {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }


  @media (min-width: 600px) {
    .container {
      padding: 1px;
      scrollbar-width: thin !important;
      scrollbar-color: #28e7d7 #92dbd9 !important; /* Cores ajustadas para verde claro e azul claro */

    }
  }



  #telaDeCarregamento {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    z-index: 1000;
  }

  .menu-opcoes {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    gap: 0px; /* Espaço entre os botões */
  }
  .menu-opcoes button {
    margin: 0; /* Remove qualquer margem dos botões */
  }

  .input-group {
    display:block; /* Ativa o Flexbox */
    align-items: center; /* Alinha os itens verticalmente no centro */
    gap: 10px; /* Adiciona um espaço entre os itens */
  }





  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }
  
  .shake-animation {
    animation: shake 0.5s; /* Executa a animação de tremor por 0.5 segundos */
  }


  .container2 {
    background: linear-gradient(to right, #38b3d1 0%, #4b80dd 100%);
    color: white;
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    scrollbar-width: thin !important;
    scrollbar-color: #28e7d7 #dbd492 !important;
    max-width: 80vw; /* Ajustado para garantir o ajuste dentro do modal */
    max-height: 80vh; /* Ajustado para garantir o ajuste dentro do modal */
    margin: auto;
  }


  @media (max-width: 600px) {
    .modal-content3 {
      max-width: 100vw;
      max-height: 100vh;
      padding: 10px;
    }
    .container2 {
      padding: 20px; /* Ajuste para espaços menores */
    }
  }
